.letra_clientes{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;

}
.h1_clientes{
    @extend .letra_clientes;
    font-size: 5rem;
    font-weight: bold;
}

@mixin size ($font-size) {
    font-size: $font-size;
}
.h1_tecnicos{
    @extend .letra_clientes;
    @include size(5rem);
    font-weight: bold;
}
.main-clientes{
    background-image: url(../images/_fondo+iconos/fondo-secciones.jpg )  ;
}

.card-title{
    font-size: 1.6rem;
    font-weight: bold;
}
.card-text{
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}