footer{
    width: auto;
    height: 8rem;
    background-color: rgb(0, 0, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.letraFooter{
    margin-left: 1rem;
    color: transparent;
    
}
.footerLogo{
    width: 1.5rem;
    height: 1.5rem;
}
.footerParrafo{
    color: aliceblue;
    font-family: 'Fira Mono', monospace;
    font-size: 0.55rem;
    padding-top: 0.50rem;
}
