.body-inicio{
    background-image: url(../images/_fondo+iconos/diego-background.jpg);
    background-attachment: fixed;
    background-position: 50%;
}

    .section_index{ 
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding-left: 0.25rem;
        margin: 0;
    }
    .general_indexMind{
        display: flex;
        background-color: transparent;
    }
    .general_indexOr{
        display: flex;
        background-color: transparent;
    }
    .general_indexVision{
        display: flex;
        padding-bottom: 2rem;
        background-color: transparent;
    }
    .h1_principal{
        font-family: "Holtwood One SC", serif;
        text-align: center;
        color: black;
        padding-top: 2rem;
        font-weight: bolder;
        font-size: 5rem;
        
    }

@media (min-width: 250px){
    .body-inicio{
        background-image: url(../images/_fondo+iconos/diego4.jpg);
        background-attachment: fixed;
        background-position: 25% 25%;
        object-fit: cover;
    }
    .h1_principal{
        font-size: 3.7rem;
        color: gray;
    }
    }
@media (min-width: 345px){
    .body-inicio{
        background-image: url(../images/_fondo+iconos/diego4.jpg);
        background-attachment: fixed;
        background-position: 30% 25%;
    }
    .h1_principal{
        font-size: 5rem;
        color: gray;
    }

}    

@media (min-width: 576px){
    .body-inicio{
        background-image: url(../images/_fondo+iconos/diego-background.jpg);
        background-position: 35%;
        
    }
    .section_index{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding-left: 0.25rem;
        margin: 0;

        animation: bajar 7s infinite;
    }
    .general_indexMind{
        background-color: transparent;

        animation: bajar 7s infinite;
    }
    @keyframes bajar {

        0%{margin-top: -50;}
        20%{margin-top: -50;}
    
        25%{margin-top: 0px;}
        50%{margin-top: 0px;}
    
        55%{margin-top: -50;}
        80%{margin-top: -50;}
    
        85%{margin-top: 0px;}
        95%{margin-top: 0px;}
    
        100%{margin-top: 0;}
    }
    .general_indexOr{
        background-color: transparent;

        animation: bajar 7s infinite;
    }
    .general_indexVision{
        background-color: transparent;

        animation: bajar 7s infinite;
    }
    .h1_principal{
        font-family: "Holtwood One SC", serif;
        text-align: center;
        color: black;
        padding-top: 2rem;
        font-size: 7rem;
    }
}

@media (min-width: 768px){
    .section_index{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding-left: 0.25rem;
        margin: 0;

        animation: bajar 7s infinite;
    }
    .general_indexMind{
        width: 35rem;   
        background-color: transparent;

        animation: bajar 10s infinite;
        }
    @keyframes bajar {

        0%{margin-top: -70;}
        20%{margin-top: -70;}
    
        25%{margin-top: 0px;}
        50%{margin-top: 0px;}
    
        55%{margin-top: -70;}
        80%{margin-top: -70;}
    
        85%{margin-top: 0px;}
        95%{margin-top: 0px;}
    
        100%{margin-top: 0;}
        }
    .general_indexOr{
        width: 30rem;
        background-color: transparent;

        animation: bajar 7s infinite;
    }
    .general_indexVision{
        height: 15rem;
        width: 40rem;
        background-color: transparent;

        animation: bajar 7s infinite;
    }
    .h1_principal{
        font-family: "Holtwood One SC", serif;
        text-align: center;
        color: black;
        padding-top: 2rem;
        font-size: 7rem;

        animation: bajar 7s infinite;
        }

}

@media (min-width: 992px){
    .section_index{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding-left: 0.25rem;
        margin: 0;

        animation: bajar 7s infinite;
    }
    .general_indexMind{
        width: 37rem;   
        background-color: transparent;
    }
    .general_indexOr{
        margin-top: -4rem;
        width: 20rem;
        background-color: transparent;
    }
    .general_indexVision{
        height: 18rem;
        width: 45rem;
        padding-bottom: rem;
        background-color: tra;
    }
    .h1_principal{
        font-family: "Holtwood One SC", serif;
        text-align: center;
        color: black;
        padding-top: 2rem;
        font-size: 9rem;
        }
    
}

@media (min-width: 1100px){
    .section_index{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding-left: 0.25rem;
        margin: 0;

        animation: bajar 7s infinite;
    }
    .general_indexMind{
        padding-top: -4;
        height: 12rem;
        width: 35rem;
        background-color: transparent;

        animation: bajar 7s infinite;
        }
    
    @keyframes bajar {

        0%{margin-top: -70;}
        20%{margin-top: -70;}

        25%{margin-top: 0px;}
        50%{margin-top: 0px;}

        55%{margin-top: -70;}
        80%{margin-top: -70;}

        85%{margin-top: 0px;}
        95%{margin-top: 0px;}

        100%{margin-top: 0;}
    }
    .general_indexOr{
        height: 9rem;
        width: 30rem;
        background-color: transparent;

        animation: bajar 7s infinite;
    }
    .general_indexVision{
        height: 15rem;
        width: 41rem;
        padding-top: 1.5rem;
        padding-bottom: 5rem;
        background-color: transparent;

        animation: bajar 7s infinite;
    }
    .h1_principal{
        font-family: "Holtwood One SC", serif;
        text-align: center;
        color: black;
        padding-top: 2rem;
        font-size: 9rem;
        }
}
