@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Black+Ops+One&family=Fira+Mono&family=Holtwood+One+SC&family=Inconsolata:wght@300&family=Notable&family=Poppins:wght@500&family=Raleway:ital,wght@0,100;1,500&family=Rubik+Mono+One&family=Staatliches&family=Teko&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: auto;
  background-color: rgb(0, 0, 0);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
header nav {
  width: auto;
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}
header a {
  color: aliceblue;
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
}
@media (min-width: 576px) {
  header header {
    background-color: rgb(0, 0, 0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header header nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
  }
  header a {
    color: aliceblue;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
  }
}
@media (min-width: 768px) {
  header header {
    background-color: rgb(0, 0, 0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header header nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
  }
  header a {
    color: aliceblue;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
  }
}
@media (min-width: 992px) {
  header header {
    background-color: rgb(0, 0, 0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header header nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
  }
  header a {
    color: aliceblue;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
  }
}
@media (min-width: 1200px) {
  header {
    /* TODA LA NAVBAR TABLET */
  }
  header header {
    background-color: rgb(0, 0, 0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  header header nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
  }
  header .navbar-brand {
    font-family: "Holtwood One SC", serif;
  }
  header a {
    color: aliceblue;
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
  }
}

main {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.section_index {
  width: 100%;
  height: 100%;
  background-image: url(../images/fondoMain.jpg);
}

.general_indexMind {
  width: auto;
  height: 10rem;
  padding-top: 3rem;
  padding-right: 8.5rem;
  background-color: transparent;
}

.general_indexOr {
  margin: 0;
  height: 6.5rem;
  width: auto;
  padding-right: 16rem;
  background-color: transparent;
}

.general_indexVision {
  height: 6.5rem;
  width: auto;
  padding-bottom: 13rem;
  padding-right: 6.5rem;
  background-color: transparent;
}

.h1_principal {
  padding-top: 2rem;
  font-size: 5rem;
}

.h1-estilos, .h1_principal {
  font-family: "Holtwood One SC", serif;
  text-align: center;
  color: black;
}

@media (min-width: 576px) {
  .section_index {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }
  .general_indexMind {
    width: 31rem;
    padding-bottom: 8 rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  @-webkit-keyframes bajar {
    0% {
      margin-top: -70;
    }
    20% {
      margin-top: -70;
    }
    25% {
      margin-top: 0px;
    }
    50% {
      margin-top: 0px;
    }
    55% {
      margin-top: -70;
    }
    80% {
      margin-top: -70;
    }
    85% {
      margin-top: 0px;
    }
    95% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0;
    }
  }
  @keyframes bajar {
    0% {
      margin-top: -70;
    }
    20% {
      margin-top: -70;
    }
    25% {
      margin-top: 0px;
    }
    50% {
      margin-top: 0px;
    }
    55% {
      margin-top: -70;
    }
    80% {
      margin-top: -70;
    }
    85% {
      margin-top: 0px;
    }
    95% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0;
    }
  }
  .general_indexOr {
    margin-top: -4rem;
    width: 20rem;
    padding-bottom: 8rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  .general_indexVision {
    width: 40rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  .h1_principal {
    padding-top: 2rem;
    font-size: 7rem;
  }
}
@media (min-width: 768px) {
  .section_index {
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .general_indexMind {
    width: 35rem;
    background-color: transparent;
    padding-bottom: 8rem;
    -webkit-animation: bajar 10s infinite;
            animation: bajar 10s infinite;
  }
  @-webkit-keyframes bajar {
    0% {
      margin-top: -70;
    }
    20% {
      margin-top: -70;
    }
    25% {
      margin-top: 0px;
    }
    50% {
      margin-top: 0px;
    }
    55% {
      margin-top: -70;
    }
    80% {
      margin-top: -70;
    }
    85% {
      margin-top: 0px;
    }
    95% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0;
    }
  }
  @keyframes bajar {
    0% {
      margin-top: -70;
    }
    20% {
      margin-top: -70;
    }
    25% {
      margin-top: 0px;
    }
    50% {
      margin-top: 0px;
    }
    55% {
      margin-top: -70;
    }
    80% {
      margin-top: -70;
    }
    85% {
      margin-top: 0px;
    }
    95% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0;
    }
  }
  .general_indexOr {
    margin-top: -4rem;
    width: 30rem;
    padding-bottom: 8rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  .general_indexVision {
    height: 15rem;
    width: 40rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  .h1_principal {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    padding-top: 2rem;
    font-size: 7rem;
    color: black;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
}
@media (min-width: 992px) {
  .section_index {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
  }
  .general_indexMind {
    width: 37rem;
    background-color: transparent;
  }
  .general_indexOr {
    margin-top: -4rem;
    width: 20rem;
    background-color: transparent;
  }
  .general_indexVision {
    height: 15rem;
    width: 45rem;
    background-color: transparent;
  }
  .h1_principal {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    padding-top: 2rem;
    font-size: 9rem;
    color: rgb(0, 0, 0);
  }
}
@media (min-width: 1100px) {
  .section_index {
    width: 100%;
    height: 100%;
    background-image: url(../images/fondoMain.jpg);
  }
  .general_indexMind {
    padding-top: -4;
    height: 12rem;
    width: 35rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  @-webkit-keyframes bajar {
    0% {
      margin-top: -70;
    }
    20% {
      margin-top: -70;
    }
    25% {
      margin-top: 0px;
    }
    50% {
      margin-top: 0px;
    }
    55% {
      margin-top: -70;
    }
    80% {
      margin-top: -70;
    }
    85% {
      margin-top: 0px;
    }
    95% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0;
    }
  }
  @keyframes bajar {
    0% {
      margin-top: -70;
    }
    20% {
      margin-top: -70;
    }
    25% {
      margin-top: 0px;
    }
    50% {
      margin-top: 0px;
    }
    55% {
      margin-top: -70;
    }
    80% {
      margin-top: -70;
    }
    85% {
      margin-top: 0px;
    }
    95% {
      margin-top: 0px;
    }
    100% {
      margin-top: 0;
    }
  }
  .general_indexOr {
    height: 9rem;
    width: 30rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  .general_indexVision {
    margin: 0rem;
    margin-top: -5rem;
    height: 15rem;
    width: 41rem;
    background-color: transparent;
    -webkit-animation: bajar 7s infinite;
            animation: bajar 7s infinite;
  }
  .h1_principal {
    font-family: "Holtwood One SC", serif;
    text-align: center;
    padding-top: 2rem;
    font-size: 9rem;
    color: rgb(0, 0, 0);
  }
}
footer {
  width: auto;
  height: 8rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.letraFooter {
  margin-left: 1rem;
  color: transparent;
}

.footerLogo {
  width: 1.5rem;
  height: 1.5rem;
}

.footerParrafo {
  color: aliceblue;
  font-family: "Fira Mono", monospace;
  font-size: 0.55rem;
  padding-top: 0.5rem;
}

/* CAJAS DEL MEDIO Y CONTENIDO MOBILE */
/* PARTE DE SECCION (nosotros) EN SERVICIO*/
.section_nosotros {
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
  font-family: "Inconsolata", monospace;
  font-weight: bold;
}

.h1_nosotros {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: black;
}

/* CARDS NOSOTROS */
.main_nosotros {
  background-image: linear-gradient(to bottom, gray, white);
}

.card {
  background-color: gray;
}

.card-text {
  font-family: "Inconsolata", monospace;
}

/* PARTE DE SECCION (nosotros) EN SERVICIO esto es 578px*/
.section_nosotros {
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}

.h1_nosotros {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  text-align: center;
  color: black;
}

/* MOBILE HORIZONTAL */
/* PARTE DE SECCION (nosotros) EN SERVICIO esto es 780*/
.section_nosotros {
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}

.h1_nosotros {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  text-align: center;
  color: black;
}

/* TABLETS */
/* PARTE DE SECCION (nosotros) EN SERVICIO esto es 980*/
.section_nosotros {
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}

.h1_nosotros {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  text-align: center;
  color: black;
}

/* DESKTOP */
/* PARTE DE SECCION (nosotros) EN SERVICIO esto es 1200*/
.section_nosotros {
  text-align: center;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
}

.h1_nosotros {
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
  text-align: center;
  color: black;
}/*# sourceMappingURL=style.css.map */